@tailwind base;
@layer base {
  :root {
    color-scheme: light;
    --theme-primary: #f40076;
    --theme-primary-focus: #d00065;
    --theme-primary-content: #ffd9e2;
    --theme-secondary: #8e4162;
    --theme-secondary-focus: #763651;
    --theme-secondary-content: #ead7de;
    --theme-accent: #5c7f67;
    --theme-accent-focus: #4c5b55;
    --theme-accent-content: #dce1df;
    --theme-neutral: #291e00;
    --theme-neutral-focus: #050400;
    --theme-neutral-content: #d0cdc6;
    --theme-base-100: #e9e7e7;
    --theme-base-200: #E3E1E1;
    --theme-base-300: #D9D8D8;
    --theme-base-content: #100f0f;
  }

  :root.dark {
    color-scheme: dark;
    --theme-primary: #f8ae00;
    --theme-primary-focus: #ff921c;
    --theme-primary-content: #1d1f21;
    --theme-secondary: #e3b979;
    --theme-secondary-focus: #e6ab40;
    --theme-secondary-content: #1d1f21;
    --theme-accent: #2bbc89;
    --theme-accent-focus: #4c5b55;
    --theme-accent-content: #dce1df;
    --theme-neutral: #d0cdc6;
    --theme-neutral-focus: #050400;
    --theme-neutral-content: #291e00;
    --theme-base-100: #1b1b1b;
    --theme-base-200: #2B2B2B;
    --theme-base-300: #3E3E3E;
    --theme-base-content: #c9cacc;
  }
}
@tailwind components;
@tailwind utilities;
