---
import BaseLayout from "../layouts/BaseLayout.astro";

import Portrait from "../components/Portrait.astro";

const pageTitle = "About me";
---

<BaseLayout title={pageTitle}>
  <h2 class="mt-5 p-2 text-2xl text-primary md:text-4xl">{pageTitle}</h2>
  <main class="container prose flex max-w-none">
    <section class="lg:m-8">
      <div class="float-right">
        <Portrait />
      </div>
      <h3 class="text-xl text-secondary md:text-2xl">My name is Marty Oehme.</h3>

      <p>
        I am an infrastructure automation practitioner, research helper, and open data proponent.
      </p>
      <p>
        I have worked with a small variety of international and academic organizations, including
        the University of Leipzig, Roskilde University, the ILO and the UN's UNU-WIDER —  often
        bridging technical implementation with knowledge transfer.
      </p>
      <p>
        Whether it be infrastructure automation with Ansible or Terraform, applying version control
        to complex workflows, research paths, programming challenges, or data analysis: I believe
        the best solutions are openly traceable, versioned, and understandable enough to be safely
        rolled back when needed.
      </p>
      <p>
        Thankfully, modern infrastructure automation, version control tools, and programming
        environments make such a task not only possible, but often times the most fruitful,
        productive and rewarding way to work.
      </p>
      <p>I build reproducible work and I want to help others do the same.</p>
      <p>
        Find a reasonably current version of my CV in
        <a href="https://git.martyoeh.me/professional/resume/releases/download/latest/resume_en.pdf"
          >English</a
        > or
        <a href="https://git.martyoeh.me/professional/resume/releases/download/latest/resume_de.pdf"
          >German</a
        >, or contact me via e-mail at
        <a href="mailto:%77%65%62@%6d%61%72%74%79%6f%65%68%2e%6d%65">
          <span class="email"> </span></a
        >. For other ways to get in touch have a look at my <a
          href="https://keyoxide.org/C414FF88A557F29AFEF76C7E73BA40D5AFAF49C9">keyoxide profile</a
        >.
      </p>
      <p>
        You'll find both professional work and personal projects here — a place to
        explore free and open source software, share what I'm learning, and get some writing out
        into the world when inspiration hits.
      </p>
    </section>
  </main>
</BaseLayout>

<style>
  span.email::after {
    content: "em.heoytram@bew";
    unicode-bidi: bidi-override;
    direction: rtl;
  }
</style>
