---
import BaseLayout from "../layouts/BaseLayout.astro";

import Portrait from "../components/Portrait.astro";

const pageTitle = "About me";
---

<BaseLayout title={pageTitle}>
  <h2 class="mt-5 p-2 text-4xl text-primary">{pageTitle}</h2>
  <article class="container prose flex max-w-none">
    <section class="mt-8 lg:m-8">
      <div class="float-right">
        <Portrait />
      </div>
      <h3 class="text-xl text-secondary md:text-2xl">My name is Marty Oehme.</h3>

      <p>I am a code fiddler, research helper, and open data proponent.</p>
      <p>
        I have worked with a small variety of international and academic organizations, including
        the University of Leipzig, Roskilde University, the ILO and the UN's UNU-WIDER.
      </p>
      <p>
        Whether it be research paths, programming challenges, data analysis or anything else, I
        strive for a methodical approach that can be openly traced, versioned, is as understandable
        and non-destructive as possible (so it can always be rolled back if necessary).
      </p>
      <p>
        Thankfully, modern text processing software, data analysis tools and programming
        environments make this task not only possible, but often times the most fruitful, productive
        and downright joyous way to accomplish this.
      </p>
      <p>
        Find a reasonably current version of my CV in
        <a href="https://git.martyoeh.me/professional/resume/releases/download/latest/resume_en.pdf"
          >English</a
        > or
        <a href="https://git.martyoeh.me/professional/resume/releases/download/latest/resume_de.pdf"
          >German</a
        >, or contact me via e-mail at
        <a href="mailto:%6d%61%72%74%79%2e%6f%65%68%6d%65@%67%6d%61%69%6c%2e%63%6f%6d">
          <span class="email"> </span></a
        >. For other ways to get in touch, look at my <a
          href="https://keyoxide.org/C414FF88A557F29AFEF76C7E73BA40D5AFAF49C9">keyoxide profile</a
        >.
      </p>
      <p>
        However, this website is less intended as a professional overview of my activities and
        instead a playground for people to explore free and open source software, as well as for me
        to get some writing out into the world whenever such fancy strikes me.
      </p>
    </section>
  </article>
</BaseLayout>

<style>
  span.email::after {
    content: "moc.liamg@emheo.ytram";
    unicode-bidi: bidi-override;
    direction: rtl;
  }
</style>
