---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About me";
const skills = [
  "Python",
  "Pandas",
  "SeaBorn",
  "Docker",
  "CI/CD",
  "Git",
  "HTML",
  "Astro",
];
---

<BaseLayout title={pageTitle}>
  <section class="flex max-w-none prose">
    <article>
      <h2>{pageTitle}</h2>
      <h3>My name is Marty Oehme.</h3>

      <p>I am a code fiddler, research helper, and open data proponent.</p>
      <p>
        I have worked for a small variety of international and academic
        organizations, including the UN's UNU-WIDER, ILO, Roskilde University
        and the University of Leipzig.
      </p>
      <p>
        Whether it be programming challenges, research paths, data analysis or
        anything else, I strive for a methodical approach that can be openly
        traced, versioned, is understandable and as non-destructive as possible
        (so it can be rolled back if necessary).
      </p>
      <p>
        Thankfully, modern text processing software, data analysis tools and
        programming environments make this not only possible, but often times
        the most fruitful, productive and even downright fun way to accomplish
        this.
      </p>
      <p>
        Find a reasonably current version of my CV <a href="#">here</a>, or
        contact me via e-mail <a href="#">here</a>. For other ways to get in
        touch, look <a href="#">here</a>.
      </p>
      <p>
        However, this website is less intended as a professional overview of my
        activities and instead a playground for people to explore free and open
        source software, as well as for me to get some writing out into the
        world whenever such fancy strikes me.
      </p>
    </article>
    <img
      src="/assets/me.png"
      class="object-scale-down h-44 w-44 mt-16 mb-auto p-2"
    />
  </section>

  <!-- <p>My digital skillset:</p> -->
  <!-- <ul> -->
  <!--   {skills.map((skill) => <li class="skill">{skill}</li>)} -->
  <!-- </ul> -->
</BaseLayout>
