---
import BaseLayout from "../layouts/BaseLayout.astro";
import Collapsible from "../components/Collapsible.astro";
import Button from "../components/Button.astro";
---

<BaseLayout title="Marty Oehme">
  <div class="flex">
    <main class="container prose max-w-none">
      <hgroup>
        <h2 class="text-primary md:text-4xl text-2xl">Welcome!</h2>
        <h3 class="text-secondary md:text-2xl text-xl">
          You have reached my little corner on the internet.
        </h3>
      </hgroup>
      <p>
        This server is curently home to a variety of software that is all
        self-hosted, as well as free and open source (FOSS).
      </p>
      <p>
        If you would also like to make use of any of the services listed below
        don't hesitate to contact me and we will get you set up. You can reach
        me at the contact information provided in the footer, or on Mastodon
        <a rel="me" href="https://fosstodon.org/@marty" class="secondary"
          >@marty@fosstodon.org</a
        >
        where I can answer any questions.
      </p>
    </main>
    <img src="/assets/me.png" class="object-scale-down h-44 w-44 my-auto p-2" />
  </div>

  <article class="prose prose-a:no-underline mx-auto p-2 m-5">
    <section class="services">
      <h4>Currently hosted software:</h4>

      <Collapsible
        title="Shaarli"
        href="https://github.com/shaarli/Shaarli"
        body="is a beautifully simple bookmarking software."
      >
        <p>
          It runs without a database, you can tag your bookmarks, keep private
          ones and search the full texts of all notes and links you saved.
        </p>
        <p>
          I absolutely love this software and would heartily recommend it to
          anyone -- I even created scripts to quickly create, search, and open
          my bookmarks from the browser and my PC.
        </p>
        <p>
          <Button href="https://inks.martyoeh.me" btn="primary">
            Check it out here
          </Button>
          <Button href="https://github.com/shaarli/Shaarli" btn="secondary">
            GitHub source
          </Button>
        </p>
      </Collapsible>
      <Collapsible
        title="Traggo"
        href="https://github.com/traggo/server"
        body="is a simple time-tracking software."
      >
        <p>
          It bills itself as 'tag-based time-tracking', since any of its tracks
          are based around tags you create yourself. That makes it very
          flexible, if a bit difficult to first figure out.
        </p>
        <p>
          It also offers really nice dashboarding possibilities, where you can
          go wild and create all sorts of displays out of your data.
        </p>
        <p>
          <Button href="https://time.martyoeh.me" btn="primary">
            Check it out here
          </Button>
          <Button href="https://github.com/traggo/server" btn="secondary">
            GitHub source
          </Button>
        </p>
      </Collapsible>

      <Collapsible
        title="Miniflux"
        href="https://github.com/miniflux/v2"
        body="is a minimalist RSS reader."
      >
        <p>
          Sleek and to the point, it provides <em>just</em> enough configuration
          possibilities to not feel restricted, but at the same time allows you to
          reach anything with just a couple clicks, and is blazingly fast.
        </p>
        <p>
          It can also fetch the full content of websites in your RSS feed, and
          even scrape the pages for specific html elements.
        </p>
        <p>
          I use it in conjunction with
          <a href="https://github.com/newsboat/newsboat">newsboat</a> as a desktop
          RSS reader, and the integration works brilliantly - anything marked read
          is synced instantly, as are the categories and feed names.
        </p>
        <p>
          <Button href="https://rss.martyoeh.me" btn="primary">
            Check it out here
          </Button>
          <Button href="https://github.com/miniflux/v2" btn="secondary">
            GitHub source
          </Button>
        </p>
      </Collapsible>

      <Collapsible
        title="Nextcloud"
        href="https://nextcloud.com/"
        body="is a file host, an office suite, collaboration tools, ..."
      >
        <p>
          Nextcloud offers a very comperehensive all-in-one experience for
          hosting files, an office suite with text editing, collaboration tools
          and contact lists, kanban boards, even video chat (though I do not
          offer this on my instance).
        </p>
        <p>
          The main use on this host, however, is file hosting and sharing, which
          it excels at. If you wish to host Nextcloud yourself, keep in mind
          that it can be somewhat memory-hungry if multiple users poll it at the
          same time.
        </p>
        <p>
          <Button href="https://files.martyoeh.me" btn="primary">
            Check it out here
          </Button>
          <Button href="https://nextcloud.com/" btn="secondary">
            Nextcloud homepage
          </Button>
        </p>
      </Collapsible>

      <Collapsible
        title="Wallabag"
        href="https://github.com/wallabag/wallabag"
        body="is read-it-later software done well."
      >
        <p>
          Very similar to stuff like pocket or instapaper, just accessible on
          your own server.
        </p>
        <p>
          Integrates really well with both Miniflux and Shaarli, which both
          allow sending articles to be saved in Wallabag.
        </p>
        <p>
          Works really well in the browser, and with a little bit of scripting I
          can even read it directly from my terminal and send any article to my
          editor.
        </p>
        <p>
          The only thing that could be improved are annotations, which are hard
          to find after having done them and there is no coherent view for
          seeing annotations in one place.
        </p>
        <p>
          <Button href="https://read.martyoeh.me" btn="primary">
            Check it out here
          </Button>
          <Button href="https://github.com/wallabag/wallabag" btn="secondary">
            GitHub source
          </Button>
        </p>
      </Collapsible>

      <Collapsible
        title="Gitea & Woodpecker"
        href="https://gitea.io"
        body="are a git frontend and integration pipeline."
      >
        <p>
          A git frontend not too dissimilar from GitHub or GitLab, only hosted
          by yourself, super fast and more focused on interacting with your
          code.
        </p>
        <p>
          All my personal code projects are hosted on Gitea first and foremost
          since it is the platform most comfortable for me nowadays. Most of my
          code is also pushed to mirrors on GitHub and GitLab, however, a very
          welcome feature of Gitea.
        </p>
        <p>
          Additionally, Woodpecker is running on this server as the continuous
          integration pipeline for any code written in Gitea. With a simple
          configuration file you can enable your repository to be picked up by
          woodpecker and all sorts of tests run, builds performed, and releases
          scheduled.
        </p>
        <p>
          <Button href="https://git.martyoeh.me" btn="primary">
            Check it out here
          </Button>
          <Button href="https://gitea.io" btn="secondary">Gitea website</Button>
          <Button href="https://woodpecker-ci.org" btn="secondary">
            Woodpecker website
          </Button>
        </p>
      </Collapsible>

      <Collapsible
        title="SearX"
        href="https://github.com/searx/searx"
        body="is a private meta-search engine to find anything you wish for."
      >
        <p>
          Really advanced meta-search, meaning it uses other search engines
          under the hood and combines their results in what it shows you. Can
          utilize <em>so</em> many different backends for its searches, it's staggering.
        </p>
        <p>
          <Button href="https://github.com/searx/searx" btn="secondary">
            GitHub source
          </Button>
        </p>
      </Collapsible>
    </section>
  </article>
</BaseLayout>
