---
export interface Props {
    href: string;
    btn: string;
}
const { href, btn: color } = Astro.props;

let bgcolor = "";
let fgcolor = "";

if (color === "primary") {
    bgcolor = "bg-primary";
    fgcolor = "text-primary-content";
} else if (color === "secondary") {
    bgcolor = "bg-secondary";
    fgcolor = "text-secondary-content";
} else if (color === "accent") {
    bgcolor = "bg-accent";
    fgcolor = "text-accent-content";
}
---

<a href={href} class={`${fgcolor}`}>
    <button class={`shadow border border-accent rounded border-dashed p-1 ${bgcolor}`}>
        <slot />
    </button>
</a>
