---
export interface Props {
  class?: string;
  anchor?: string;
}
const { class: className = "", anchor = "" } = Astro.props;
---

<article
  class:list={[
    "m-2",
    "sm:m-4",
    "rounded-xl",
    "bg-base-100",
    "text-base-content",
    "border",
    "border-secondary",
    "sm:border-l-0",
    "sm:border-t-0",
    "sm:border-dotted",
    "sm:shadow",
    "hover:border-double",
    "hover:border-primary-focus",
    className,
  ]}
>
  <div class="m-2 p-2 sm:py-6" id={anchor}>
    <header class="">
      <h2 class="text-2xl text-primary"><slot name="title" /></h2>
      <h3 class="text-secondary"><slot name="subtitle" /></h3>
    </header>
    <div class="mt-2">
      <slot />
    </div>
    <div class="mt-2">
      <slot name="button" />
    </div>
  </div>
</article>
