---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<div class="m-1 flex rounded-lg bg-neutral p-1 text-neutral-content drop-shadow-lg">
  <details class="group w-full open:ring">
    <summary
      class="flex cursor-pointer list-none flex-row justify-start space-x-1 [&::-webkit-details-marker]:hidden"
    >
      <div><a class="text-secondary-content hover:overline" href={href}> {title}</a></div>
      <div>{body}</div>
      <div class="flex grow justify-end text-secondary-content">
        <span class="pr-4 group-open:hidden">&darr;</span>
        <span class="hidden pr-4 group-open:inline">&uarr;</span>
      </div>
    </summary>
    <slot />
  </details>
</div>
