---
const year = new Date().getFullYear();
---

<div class="text-xs">
  Unless otherwise stated,
  <a rel="cc:attributionURL" href="https://martyoeh.me"> this work</a>
  &nbsp;&copy; {year} is licensed under&nbsp;
  <a href="http://creativecommons.org/licenses/by-nc/4.0/" rel="license">
    CC BY-NC 4.0
    <span class="opacity-5 hover:opacity-100">
      <img
        style="height:22px;"
        src="https://mirrors.creativecommons.org/presskit/icons/cc.svg"
        class="inline-flex"
        alt="creative commons symbol"
      /><img
        style="height:22px;"
        src="https://mirrors.creativecommons.org/presskit/icons/by.svg"
        class="inline-flex"
        alt="creative commons symbol for attribution required"
      /><img
        style="height:22px;"
        src="https://mirrors.creativecommons.org/presskit/icons/nc.svg"
        class="inline-flex"
        alt="creative commons symbol for no commercial use allowed"
      />
    </span>
  </a>
</div>
