---
import { NAVIGATION_LINKS } from "../data/constants";
import CopyNotice from "../components/CopyNotice.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
---

<footer role="contentinfo">
  <div class="flex place-content-stretch items-center justify-between border-t py-8">
    <address>
      Contact information and identity verification <a
        href="https://keyoxide.org/C414FF88A557F29AFEF76C7E73BA40D5AFAF49C9"
        class="text-secondary">here</a
      >.
    </address>
    <ul class="justify flex flex-row items-center divide-x">
      {
        NAVIGATION_LINKS.map((link) => (
          <a href={link.url}>
            <li class="last-child:border-none px-2 uppercase hover:border-accent-focus">
              {link.title}
            </li>
          </a>
        ))
      }
      <ThemeToggle />
    </ul>
  </div>
  <CopyNotice />
</footer>
