---
import { NAVIGATION_LINKS } from "../data/constants";

const year = new Date().getFullYear();
---

<footer role="contentinfo">
  <div
    class="flex place-content-stretch items-center justify-between border-t py-8"
  >
    <address>
      Contact information and identity verification <a
        href="https://keyoxide.org/C414FF88A557F29AFEF76C7E73BA40D5AFAF49C9"
        class="text-secondary">here</a
      >.
    </address>
    <ul class="flex flex-row items-center justify divide-x">
      {
        NAVIGATION_LINKS.map((link) => (
          <a href={link.url}>
            <li class="uppercase hover:border-accent-focus px-2 last-child:border-none">
              {link.title}
            </li>
          </a>
        ))
      }
    </ul>
  </div>
  <div>
    <small>Copyright &copy; {year}</small>
  </div>
</footer>
