---
import { NAVIGATION_LINKS } from "../data/constants";
import CopyNotice from "../components/CopyNotice.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import Icon from "../components/Icon.astro";
---

<footer role="contentinfo">
  <div
    class="flex flex-col-reverse place-content-stretch items-center justify-between gap-y-8 border-t py-8 md:flex-row"
  >
    <div class="ml-8 flex place-content-stretch justify-between gap-x-4 md:justify-evenly">
      <Icon name="contact" link="https://keyoxide.org/C414FF88A557F29AFEF76C7E73BA40D5AFAF49C9" />
      <Icon name="mail" link="mailto:%77%65%62@%6d%61%72%74%79%6f%65%68%2e%6d%65" />
      <Icon name="mastodon" link="https://fosstodon.org/@marty" />
      <Icon name="forgejo" link="https://git.martyoeh.me" />
      <Icon name="github" link="https://github.com/marty-oehme" />
      <Icon name="rss" link="https://martyoeh.me/rss.xml" />
    </div>
    <ul class="justify flex flex-row items-center divide-x">
      {
        NAVIGATION_LINKS.map((link) => (
          <a href={link.url}>
            <li class="last-child:border-none px-2 uppercase hover:border-accent-focus">
              {link.title}
            </li>
          </a>
        ))
      }
      <ThemeToggle />
    </ul>
  </div>
  <CopyNotice />
</footer>
