---
import { NAVIGATION_LINKS } from "../data/constants";
import Hamburger from "../components/Hamburger.astro";
---

<header>
  <div class="logo"><a href="/">MO</a></div>
  <nav class="nav-links">
    {NAVIGATION_LINKS.map((link) => <a href={link.url}>{link.title}</a>)}
  </nav>
  <Hamburger />
</header>

<script>
  document.querySelector(".hamburger")?.addEventListener("click", () => {
    document.querySelector(".nav-links")?.classList.toggle("expanded");
    document.querySelector(".logo")?.classList.toggle("hidden");
  });
</script>

<style>
  header {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }

  .logo {
    top: 5rem;
  }

  .logo a {
    color: var(--theme-accent-2);
    font-size: 2.5rem;
    background-color: var(--theme-menu-bg);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }

  .nav-links {
    width: 100%;
    left: 48px;
    background-color: var(--theme-menu-bg);
    display: none;
    margin: 0;
  }

  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .nav-links a:hover,
  a:focus {
    background-color: var(--theme-menu-bg);
    border-radius: 0.5rem;
  }

  .expanded {
    display: unset;
  }

  .hidden {
    display: none;
  }

  @media screen and (min-width: 636px) {
    header {
      margin-top: 2rem;
    }

    .nav-links {
      margin-left: 5em;
      display: block;
      position: static;
      width: auto;
      background: none;
    }

    .nav-links a {
      padding: 15px 20px;
      display: inline-block;
    }
  }
</style>
