---
import { NAVIGATION_LINKS } from "../data/constants";
---

<div class="flex items-center justify-between border-b py-8">
  <a href="/">
    <div
      class="logo bg-primary text-primary-content font-extrabold py-4 px-4 rounded-xl"
    >
      MO
    </div>
  </a>

  <nav class="">
    <section class="flex sm:hidden">
      <div class="hamburger space-y-2 cursor-pointer">
        <span class="block h-0.5 w-8 animate-pulse bg-primary"></span>
        <span class="block h-0.5 w-8 animate-pulse bg-primary"></span>
        <span class="block h-0.5 w-8 animate-pulse bg-primary"></span>
      </div>
    </section>
    <div
      class="mobile-menu absolute top-0 right-0 w-screen px-8 py-8 bg-neutral text-neutral-content hidden"
    >
      <svg
        class="h-8 w-8 closebutton cursor-pointer"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>

      <ul class="flex flex-col items-center justify-between min-h-[150px]">
        {
          NAVIGATION_LINKS.map((link) => (
            <li class="uppercase border-b border-accent hover:border-accent-focus my-8">
              <a href={link.url}>{link.title}</a>
            </li>
          ))
        }
      </ul>
    </div>

    <div class="desktop-menu hidden sm:block">
      <ul class="flex flex-row items-center justify space-x-1">
        {
          NAVIGATION_LINKS.map((link) => (
            <a class="" href={link.url}>
              <li class="py-2 px-1 uppercase border-b border-accent hover:border-accent-focus hover:bg-accent-focus hover:text-accent-content">
                {link.title}
              </li>
            </a>
          ))
        }
      </ul>
    </div>
  </nav>
</div>

<script>
  document.querySelector(".hamburger")?.addEventListener("click", () => {
    document.querySelector(".mobile-menu")?.classList.toggle("hidden");
  });
  document.querySelector(".closebutton")?.addEventListener("click", () => {
    document.querySelector(".mobile-menu")?.classList.add("hidden");
  });
</script>
