---
import { NAVIGATION_LINKS } from "../data/constants";
---

<div class="flex items-center justify-between border-b py-8">
  <a href="/">
    <div
      class="logo mx-4 rounded-xl bg-primary p-4 text-lg font-extrabold text-primary-content ring-primary transition-all hover:animate-bounce hover:text-accent"
    >
      MO
    </div>
  </a>

  <nav class="">
    <section class="flex px-4 sm:hidden">
      <div class="hamburger cursor-pointer space-y-2 hover:animate-pulse">
        <span class="block h-0.5 w-8 bg-primary"></span>
        <span class="block h-0.5 w-8 bg-primary"></span>
        <span class="block h-0.5 w-8 bg-primary"></span>
      </div>
    </section>
    <div
      class="mobile-menu absolute right-0 top-0 hidden w-screen bg-neutral px-8 py-8 text-neutral-content"
    >
      <svg
        class="closebutton h-8 w-8 cursor-pointer"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>

      <ul class="flex min-h-[150px] flex-col items-center justify-between">
        {
          NAVIGATION_LINKS.map((link) => (
            <li class="my-8 border-b border-primary uppercase hover:border-primary-focus">
              <a href={link.url}>{link.title}</a>
            </li>
          ))
        }
      </ul>
    </div>

    <div class="desktop-menu hidden px-4 sm:block">
      <ul class="justify flex flex-row items-center space-x-1">
        {
          NAVIGATION_LINKS.map((link) => (
            <a class="" href={link.url}>
              <li class="border-b border-accent px-1 py-2 uppercase hover:border-accent-focus hover:bg-accent-focus hover:text-accent-content">
                {link.title}
              </li>
            </a>
          ))
        }
      </ul>
    </div>
  </nav>
</div>

<script>
  document.querySelector(".hamburger")?.addEventListener("click", () => {
    document.querySelector(".mobile-menu")?.classList.toggle("hidden");
  });
  document.querySelector(".closebutton")?.addEventListener("click", () => {
    document.querySelector(".mobile-menu")?.classList.add("hidden");
  });
</script>
