---
export interface Props {
  id: string;
  spec: Record<string, any>;
}

const { id, spec } = Astro.props;
---

<div id={id}></div>
<script type="text/javascript" data-lets-plot-script="plot" define:vars={{id, spec}} is:inline>
  (function () {
    // ----------

    const forceImmediateRender = false;
    const responsive = false;

    let sizing = {
      width_mode: "MIN",
      height_mode: "SCALED",
      width: null,
      height: null,
    };

    const preferredWidth = document.body.dataset.letsPlotPreferredWidth;
    if (preferredWidth !== undefined) {
      sizing = {
        width_mode: "FIXED",
        height_mode: "SCALED",
        width: parseFloat(preferredWidth),
      };
    }
    const containerDiv = document.getElementById(id);
    let fig = null;

    function renderPlot() {
      if (fig === null) {
        const plotSpec = spec;
        window.letsPlotCall(function () {
          fig = LetsPlot.buildPlotFromProcessedSpecs(plotSpec, containerDiv, sizing);
        });
      } else {
        fig.updateView({});
      }
    }

    const renderImmediately =
      forceImmediateRender ||
      (sizing.width_mode === "FIXED" &&
        (sizing.height_mode === "FIXED" || sizing.height_mode === "SCALED"));

    if (renderImmediately) {
      renderPlot();
    }

    if (!renderImmediately || responsive) {
      // Set up observer for initial sizing or continuous monitoring
      var observer = new ResizeObserver(function (entries) {
        for (let entry of entries) {
          if (entry.contentBoxSize && entry.contentBoxSize[0].inlineSize > 0) {
            if (!responsive && observer) {
              observer.disconnect();
              observer = null;
            }
            renderPlot();
            if (!responsive) {
              break;
            }
          }
        }
      });

      observer.observe(containerDiv);
    }

    // ----------
  })();
</script>
