---
import BaseLayout from "./BaseLayout.astro";
import Button from "../components/Button.astro";
const { title } = Astro.props;
---

<BaseLayout title={title}>
  <div class="px-4 space-x-4 flex justify-end">
    <a href="/blog">All Posts</a>
    <a href="/blog#tags">All Tags</a>
  </div>

  <slot />

  <div class="px-4 space-x-4 flex justify-end">
    <a href="/blog">All Posts</a>
    <a href="/blog#tags">All Tags</a>
  </div>
</BaseLayout>
